<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="/public/assets/dashboard.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <header>
    <%- include('../partials/nav', {email: user.email }) %>
  </header>

  <div class = "hero-image">
    <div class = "hero-text">
      <div class = "header1"><h1>Happy Gaming, <%= user.email %>!</h1></div>

      <h2 class = "sub-title">Gameboards you have joined</h2>
      <% for (let name in player_info) { %>
        <div class = "group-row wrapper">
          <span class = "groupName"><%- name %></span>
          <button class="button is-info b1">Go to Gameboard</a>
          <button class="button is-info b1 leave" id = '<%- name %>'>Leave</a>
        </div>
      <% } %>
      <% if(role === 'admin') { %>
        <h4 class = "sub-title">Create/Manage your Gameboard</h2>
          <% for (let name in admin_info) { %>
            <div class = "group-row wrapper">
              <span class = "groupName"><%- name %></span>
              <button class="button is-info b1">Go to Gameboard</a>
              <button class="button is-info b1 edit" id = '<%- admin_info[name][1] %>'>Manage Group</a>
            </div>
          <% } %>
          <div class = "group-row wrapper">
            <a href="/create-group-page" class = "groupName">Create a new gameboard within minutes</a>
          </div>
        </div>
      <% }%>
      <h3 class = "sub-title">Popular Gameboards</h2>
        <% for (let name in popular_status) { %>
          <div class = "group-row wrapper">
            <span class = "groupName"><%- name %></span>
            <% if(popular_status[name] === 0) {%>
              <button class="button is-info b1">Go to Gameboard</a>
              <button class="button is-info b1 leave" id = '<%- name %>'>Leave</a>
            <% } else if(popular_status[name] === 1) {%>
              <button class="button is-info b1">Go to Gameboard</a>
              <button class="button is-info b1 edit" id = '<%- admin_info[name][1] %>'>Manage Group</a>
            <% }else {%>
              <button class="button is-info b1 join" id = '<%- name %>'>Join</a>
            <% }%>
          </div>
        <% } %>
  </div>

</body>
<script>
  const join_buttons = document.querySelectorAll('.join')
  join_buttons.forEach(function(button){
    button.addEventListener('click', (event) => {
      event.preventDefault();
      let group_name = event.target.id
      fetch('/join-group',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({group:group_name})
      }).then(function (result) {
        window.location.href = '/dashboard'
      }).catch(function (err) {
        console.error(err);
      });
    });
  })
</script>
<script>
  const leave_buttons = document.querySelectorAll('.leave')
  leave_buttons.forEach(function(button){
    button.addEventListener('click', (event) => {
      event.preventDefault();
      let group_name = event.target.id
      fetch('/leave-group',{
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({group:group_name})
      }).then(function (result) {
        window.location.href = '/dashboard'
      }).catch(function (err) {
        console.error(err);
      });
    });
  })
</script>
<script>
  const edit_buttons = document.querySelectorAll('.edit')
  edit_buttons.forEach(function(button){
    button.addEventListener('click', (event) => {
      event.preventDefault();
      let group_id = event.target.id
      window.location.href = '/modify-group-page/' + group_id
    });
  })
</script>
</html>